{
    "presets": [
        "@babel/preset-react",
        "@babel/preset-env",
        "@babel/typescript"
    ],
    "plugins": [
        "@babel/proposal-class-properties",
        "@babel/proposal-object-rest-spread",
        "@babel/plugin-transform-runtime"
    ],
    "env": {
        "production": {
          "plugins": ["transform-remove-console"]
        }
      }
}