@import '../../theme.less';

.player-container {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100%;
    height: @player-height;
    background-color: @main-color  ;
    z-index: 10;
}
.mediainfo {
    bottom: 0;
	left: 0;
	height: @player-height;
	width: 282px;
	overflow: hidden;
	cursor: pointer;
	-webkit-app-region: no-drag;
}  
.timeline {
    bottom: 0px;
	left: 300px;
	height: @player-height;
	width: calc(100% - 300px - 270px);
	display: flex;
	justify-content: space-between;
	align-items: center;
    
} 
.controller {
    bottom: 0px;
	left: calc(100% - 252px);
	height: @player-height;
	width: 240px;
	display: flex;
}
.mediainfo,
.timeline,
.controller {
    position: absolute;
}

.controller> button {
    font-family: "groove style";
	width: 36px;height: 36px;
	margin: auto;
	border-radius: 50%;
	color: rgba(255,255,255,1);
	font-size: 20px;
    cursor: pointer;
    transition: all 0.08s linear;
    &:hover {
        color: rgba(255,255,255,0.4);
    }
    &:active{
        color: rgba(255,255,255,1);
	    background-color: rgba(0,0,0,0.2);
    }
}