@import '../../theme.less';

.player-container {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100%;
    height: @player-height;
    background-color: @main-color ;
    box-shadow: 0px -5px 10px #c0bfbf;
    z-index: 10;
    user-select: none;
    transition: height 0.08s linear;

    .drag {
        opacity: 0;
        visibility: hidden;
    }

    .mediainfo {
        bottom: 0;
        left: 0;
        height: @player-height;
        width: 282px;
        overflow: hidden;
        cursor: pointer;
        -webkit-app-region: no-drag;

    }

    .timeline {
        bottom: 0px;
        left: 300px;
        height: @player-height;
        width: calc(100% - 300px - 350px);
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .song-controller {
        bottom: 0px;
        left: calc(100% - 320px);
        width: 176px;
        height: @player-height;
        display: flex;
    }

    .controller {
        bottom: 0px;
        left: calc(100% - 132px);
        height: @player-height;
        width: 124px;
        display: flex;
    }
}

.timeline,
.song-controller,
.controller {
    position: absolute;
    transition: all 0.36s cubic-bezier(0.37, -0.11, 0.14, 0.85);
}

.mediainfo {
    position: absolute;
    transition: all 0.36s linear;
}



.timeline {
    .time {
        font-size: 11px;
        color: #ffffff;
        line-height: 66px;
        /*for vertical center*/
        height: 64px;
        cursor: default;
    }

    .progressbar {
        -webkit-app-region: no-drag;
        margin: 15px 12px 17px 12px;
        /*15+17 for vertical center*/
        height: 32px;
        flex-basis: auto;
        flex-grow: 1;
        cursor: pointer;
        overflow: hidden;
        white-space: nowrap;

        .filler {
            position: relative;
            display: inline-block;
            margin: 17px 0;
            height: 2px;
        }

        .played {
            background-color: rgba(255, 255, 255, 1);
            transition: width 0.08s linear;
        }

        .unplayed {
            width: 100%;
            background-color: rgba(255, 255, 255, 0.4);
        }

        .cursor {
            position: relative;
            display: inline-block;
            margin: 9px 0px 9px 0px;
            width: 18px;
            height: 18px;
            border-radius: 50%;
            box-sizing: border-box;
            border: 2px solid #ffffff;
            transition: all 0.04s linear;

            &:hover {
                border: 2px solid rgba(255, 255, 255, 0.6);
            }

            &:active {
                background-color: #ffffff;
            }
        }
    }
}

.mediainfo {

    .cover,
    .artist,
    .album,
    .song {
        position: absolute;
    }

    .cover {
        margin: 8px;
        width: 48px;
        height: 48px;
        background-color: rgba(255, 255, 255, 0.1);
        background-position: center;
        background-size: cover;
        left: 0px;
        bottom: 0px;
        z-index: 0;
    }

    .song,
    .artist,
    .album {
        color: #ffffff;
        left: 64px;
        max-width: 210px;
        white-space: nowrap;
        overflow: hidden;
        z-index: 2;
    }
    .album {
        visibility: hidden;
    }

    .song {
        bottom: 34px;
        font-size: 15px;
    }
    .album,
    .artist {
        bottom: 12px;
        font-size: 14px;
        opacity: 0.7;
    }

    &:hover {
        background-color: rgba(0, 0, 0, 0.1);
        color: rgba(255, 255, 255, 0.9);
    }
}

.controller {
    >div.volume-controller {
        position: absolute;
        bottom: calc(@player-height - 4px);
    }

    >div.playBar-playList {
        position: absolute;
        bottom: calc(@player-height - 4px);
        right: 4px;
    }

    >button:first-of-type {
        margin-left: 0px;
    }

    button:last-of-type {
        margin-right: 0px;
    }
}


.extend {
    width: 100%;
    height: 100%;
    transition: height 0.08s linear;

    .drag {
        opacity: 1;
        visibility: visible;
        top: 0;
        left: 0;
        width: 100%;
        height: 40px;
        -webkit-app-region: drag;
    }
    .mediainfo {
        top: 130px;
        left: 24px;
        height: 150px;
        width: 400px;
        cursor: default;
        &:hover {
            background-color: unset;
        }
        .song {
            bottom: 100px;
            left: 150px;
        }
        .artist {
            bottom: 70px;
            left: 150px;
        }
        .album {
            visibility: visible;
            left: 150px;
            bottom: 40px;
        }
        .cover {
            height: 90px;
            width: 90px;
            border-radius: 50%;
            animation:rotator 10s linear infinite;
            animation-play-state:running;
            border: 20px solid black;
            z-index: 999;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.9);
        }
        .pause {
            animation-play-state:paused;
        }
    }
    .timeline {
        bottom: 72px;
        left: 24px;
        width: calc(100% - 48px);
    }
    .song-controller {
        bottom: 24px;
	    left: 10px;
    }
    .controller {
        bottom: 24px;
    }

    @keyframes rotator {
        from{transform:rotate(0deg);}
        to{transform:rotate(360deg);}
    }
}

a.link {
    color: #0c73c2;
    cursor: pointer;
    text-decoration: none;
    margin-left: 10px;
    &:hover {
        background-color: rgba(0, 0, 0, 0.1);
    }
}


button {
    font-family: "groove style";
    width: 36px;
    height: 36px;
    margin: auto;
    border-radius: 50%;
    color: rgba(255, 255, 255, 1);
    font-size: 20px;
    cursor: pointer;
    transition: all 0.08s linear;

    &:hover {
        color: rgba(255, 255, 255, 0.4);
    }

    &:active {
        color: rgba(255, 255, 255, 1);
        background-color: rgba(0, 0, 0, 0.2);
    }
}