@font-face {
    font-family: 'groove style';
    src: url('./assets/groove.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: local('Roboto Light'), local('Roboto-Light'), url('./assets/Roboto.woff2') format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
  }

html {
    margin: 0 0;
    padding: 0 0;
    font-family: "Roboto", sans-serif;

    body {
        margin: 0;

        #root {
            height: 100%;
            width: 100%;
        }
    }
}

button {
    display: block;
    -webkit-app-region: no-drag;
    border: 0;
    padding: 0;
    outline: 0;
    background-color: rgba(0, 0, 0, 0);
}

button.previous::after {
    content: "\e892";
}

button.play::after {
    content: "\e002";
}

button.pause::after {
    content: "\e001";
}

button.next::after {
    content: "\e893";
}

button.random::after {
    content: "\e8b1";
}

button.sequence::after {
    content: "\e8ee";
}

button.loop::after {
    content: "\e8ed";
}

button.list::after {
    content: "\e93f";
}

button.download::after {
    content: "\e004";
}

button.sound::after {
	content: "\e995";
}

button.fold::after {
    content: "\e70d";
}

button.user::after {
	content: "\e77b";
}

button.setting::after{
	content: "\e713";
}

button.search::after{
	content: "\e721";
}

button.favorite::after{
	content: "\eb51";
}

button.home::after {
    content: "\e80f";
}

button.add::after {
    content: "\e003";
}


::-webkit-scrollbar {/*滚动条整体样式*/

    width: 10px;     /*高宽分别对应横竖滚动条的尺寸*/
    height: 1px;

}

::-webkit-scrollbar-thumb {/*滚动条里面小方块*/

    border-radius: 10px;

    box-shadow: inset 0 0 5px rgba(0,0,0,0.2);

    background: lighten(red, 10);

}

::-webkit-scrollbar-track {/*滚动条里面轨道*/

    box-shadow: inset 0 0 5px rgba(0,0,0,0.2);

    border-radius: 10px;

    background: #EDEDED;

}